<!DOCTYPE html> 
<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1"> 
	<title>Mobitrack</title>
  <link rel="apple-touch-icon-precomposed" href="<%= asset_path 'icons/radioactive-icon-128.png' %>" /> 
    <%= stylesheet_link_tag "mobile" %>
	<%= javascript_include_tag "jquery-1.8.2.min" %>
	<%= javascript_include_tag "jquery.mobile-1.2.0.min" %>
</head>
<body>
<!-- Home -->
<div data-role="page" id="login">
    <div data-role="content">
      Note: this supports multiple campaigns by subdomain
      Make sure you use <br>
      <a href="http://homersimpson.volpl.com">homersimpson.volpl.com</a><br>
      <a href="http://sideshowbob.volpl.com">sideshowbob.volpl.com</a><br>
      or use staff/dev, then<br>
      <a href="http://admin.volpl.com">admin.volpl.com</a><br>
      to see the results<br>
      Test logins: demo, demo1, demo2, staff <br>
      Password: dev
        <%= form_tag sessions_path, 'data-ajax'=>"false" do %>
            <div data-role="fieldcontain">
                <fieldset data-role="controlgroup">
                    <label for="user_name">
                        User Name
                    </label>
                    <%= text_field_tag :user_name, params[:user_name] %>
                </fieldset>
            </div>
            <div data-role="fieldcontain">
                <fieldset data-role="controlgroup">
                    <label for="password">
                        Password
                    </label>
                    <%= password_field_tag :password %>
                </fieldset>
            </div>
            <%= submit_tag "Log In" %>
        <% end %>
    </div>
</div>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-40063408-1', 'volpl.com');
  ga('send', 'pageview');

</script>
</body>
</html>