{{#ridings}}
    <li data-role="list-divider">{{riding_name}}</li>
    {{#people}}
      <li id='person-{{id}}'>
        <a href="#persons?person={{id}}">{{first_name}} {{last_name}} &mdash; {{riding}}</a>
      </li>
    {{/people}}
{{/ridings}}