<div class="row">
  <div class="large-3 columns" id="campaigns">
  	<ul>
    <% @campaigns.each do |campaign| %>
      <li><%= link_to campaign.name, campaign %></li>
    <% end %>
		</ul>
  </div>
  <div class="large-9 columns">
  	<table class="">
  		<tr>
  			<th>Person</th>
  			<th>User</th>
  			<th>Value</th>
  			<th>Ip</th>
  		</tr>
  		<% @campaign.observations.each do |observation| %>
  		<tr>
  			<td><%= observation.person ? "#{observation.person.first_name} #{observation.person.last_name}" : '-' %></td>
  			<td><%= observation.user ? observation.user.user_name : '-' %></td>
  			<td><%= observation.value %></td>
  			<td><%= observation.ip_address %></td>
  		</tr>
  		<% end %>
  	</table>
  </div>
</div>